header .container{
    position: relative;
    padding: 10px 0 10px 0;
}

ul {
    list-style-type: none;
    margin: auto;
    width: 800px;
    overflow: hidden;
}

li {
    float: left;
    background-color: yellow;
}

li a {
    display: block;
    border: 1px solid black;
    color: blue;
    text-align: center;
    padding: 13px;
    text-decoration: none;
}

li a:hover {
    background-color: aqua;
}

.profileIcon {
    width: 50px;
    height: 50px;
    position:absolute;
    right: 10px;
    border-radius: 50%;
    top: 70%;
}
.profileIcon:hover {
    opacity: 50%;
}

.outerBox{
    width: 100%;
}

.firstBox {
    width: 700px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 35px;
    background-color: lightcyan;
}

.secondBox {
    width: 700px;
    border: 1px solid red;
    margin: auto;
    margin-top: 50px;
    background-color: lightpink;
}